

html {
  background-image:url('background.jpg');
  background-position: center top;
  font-family: 'Bigelow Rules', cursive;
  font-size: 40px;
  color:white;

}

.container_main {
  margin: 20px auto;
  width: 960px;
  padding: 0px 20px 20px 20px;
  text-align: center;
}

th {
  text-align: left;
}

h1 {
  color: white;
  font-family: 'Bigelow Rules', cursive;
}

#login_button, #signup_button {
  cursor: pointer
}


#login_button {
  -moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
  -webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
  box-shadow:inset 0px 1px 0px 0px #bee2f9;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
  background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
  background-color:#63b8ee;
  -webkit-border-top-left-radius:0px;
  -moz-border-radius-topleft:0px;
  border-top-left-radius:0px;
  -webkit-border-top-right-radius:0px;
  -moz-border-radius-topright:0px;
  border-top-right-radius:0px;
  -webkit-border-bottom-right-radius:0px;
  -moz-border-radius-bottomright:0px;
  border-bottom-right-radius:0px;
  -webkit-border-bottom-left-radius:0px;
  -moz-border-radius-bottomleft:0px;
  border-bottom-left-radius:0px;
  text-indent:0px;
  border:1px solid #3866a3;
  display:inline-block;
  color:#14396a;
  font-family:'Bigelow Rules', cursive;
  font-size:35px;
  font-weight:bold;
  font-style:normal;
  height:99px;
  line-height:99px;
  width:160px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #7cacde;
}
#login_button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
  background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
  background-color:#468ccf;
}
#login_button:active {
  position:relative;
  top:1px;
}

#signup_button {
  margin-left: 40px;
}

#login_button {
  margin-right: 40px;
}

#signup_button {
   -moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
  -webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
  box-shadow:inset 0px 1px 0px 0px #bee2f9;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
  background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
  background-color:#63b8ee;
  -webkit-border-top-left-radius:0px;
  -moz-border-radius-topleft:0px;
  border-top-left-radius:0px;
  -webkit-border-top-right-radius:0px;
  -moz-border-radius-topright:0px;
  border-top-right-radius:0px;
  -webkit-border-bottom-right-radius:0px;
  -moz-border-radius-bottomright:0px;
  border-bottom-right-radius:0px;
  -webkit-border-bottom-left-radius:0px;
  -moz-border-radius-bottomleft:0px;
  border-bottom-left-radius:0px;
  text-indent:0px;
  border:1px solid #3866a3;
  display:inline-block;
  color:#14396a;
  font-family:'Bigelow Rules', cursive;
  font-size:35px;
  font-weight:bold;
  font-style:normal;
  height:99px;
  line-height:99px;
  width:160px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #7cacde;
}
#signup_button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
  background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
  background-color:#468ccf;
}
#signup_button:active {
  position:relative;
  top:1px;
}

.submit_buttons {
  -moz-box-shadow:inset 0px 1px 0px 0px #caefab;
  -webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
  box-shadow:inset 0px 1px 0px 0px #caefab;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
  background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
  background-color:#77d42a;
  -webkit-border-top-left-radius:20px;
  -moz-border-radius-topleft:20px;
  border-top-left-radius:20px;
  -webkit-border-top-right-radius:20px;
  -moz-border-radius-topright:20px;
  border-top-right-radius:20px;
  -webkit-border-bottom-right-radius:20px;
  -moz-border-radius-bottomright:20px;
  border-bottom-right-radius:20px;
  -webkit-border-bottom-left-radius:20px;
  -moz-border-radius-bottomleft:20px;
  border-bottom-left-radius:20px;
  text-indent:0;
  border:1px solid #268a16;
  display:inline-block;
  color:#306108;
  font-family:'Bigelow Rules', cursive;
  font-size:40px;
  font-weight:bold;
  font-style:normal;
  height:100px;
  line-height:100px;
  width:170px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #aade7c;
}
.submit_buttons:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
  background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
  background-color:#5cb811;
}
.submit_buttons:active {
  position:relative;
  top:1px;
}

.logout_button {
  clear: both;
  float: right;
  margin-bottom: 100px;
  margin-top: -100px;
}

.logout_button a {
  margin-bottom: 500px;

}

a {
  color:white;
  text-decoration: none;
}


#rickroll {
  position:Absolute;
}

#results_list {
  float: right;
  text-align: left;
  border: 8px dotted white;
  width: 250px;
  font-size: 35px;
  margin-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 200px;
 
}

#results_list span {
  padding-top: 10px;
}

.your_results {
  font-size: 55px;
  margin-top: 100px !important;
}

#decks_list {
  float: left;
  font-size: 55px;
  text-align: left;
}

.person_image {
  height: 60px;
  width: 60px;
  border-radius: 60px;
  margin-bottom: -15px;
}
.person_image_big {
  height: 200px;
  width: 200px;
  border-radius: 200px;
  margin: -20px auto;
}
.question_heading {
  margin-bottom: -30px;
}
   
.person_image_medium {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  margin: -20px auto;
}

.pictures_left {
  float: left;
  margin-top: -190px;
}

.pictures_left img {
  margin-right: 40px;
}

.pictures_right {
  float: right;
  margin-top: -190px;
}

.pictures_right img {
  margin-left: 40px;
}

.edit_delete {
  font-size: 30px;
  display:inline;
  float:right;
  margin-left: 20px;
  line-height: 65px;
}

.create_deck {
  clear:both;
  float:right;
}












