<div class="container_main">
<h1>Create a new deck!</h1>
<div class="create_decks">
<form action="/createdeck" method="post" autocomplete="off">
  <% if @deck_error %>
   <p> <%= @deck_error %> </p>
  <% end %>
  <label for="createdeck_name">Name yo' deck:</label>
  <input type="text" name="deckname" id="createdeck_name" value="<%= unless @deck == nil || @deck.deckname == ''; @deck.deckname; end %>">
  <br/><br><br>
  <label for="createcard_question">Question:</label>
  <input type="createcard_question" name="question" id="createcard_question"/>
  <br/><br>
  <label for="createcard_answer">Answer:</label>
  <input type="createcard_answer" name="answer" id="createcard_answer"/>
  <br/><br>
  <input class="submit_buttons" type="submit" name="deck_action" value="Finish deck"/>
  <input class="submit_buttons" type="submit" name="deck_action" value="Create another" />
</form>
</div>
 <p class="quit_game"><a href='/'>Go back</a></p>
</div>
