<form action="/createdeck" method="post" autocomplete="off">
  <label for="createdeck_name">Name yo' deck:</label>
  <input type="text" name="deckname" id="createdeck_name"/>
  <br/><br>
  <label for="createcard_question">Question:</label>
  <input type="createcard_question" name="question" id="createcard_question"/>
  <br/><br>
  <label for="createcard_answer">Answer:</label>
  <input type="createcard_answer" name="answer" id="createcard_answer"/>
  <br/><br>
  <input class="submit_buttons" type="submit" value="Finish deck"/>
  <input class="submit_buttons" type="submit" value="Create another" />
</form>