<div class="container_main">
  <h1>Click the hankaconda to continue!</h1>
    <div id="rickroll">
      <div id="hankaconda"><a href="/"><img src="http://i.imgur.com/VESAJdY.jpg" /></a></div>
      <iframe width="800" height="600" src="//www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
